* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

.weather-app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.weather-container {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.weather-container h1 {
  color: white;
  font-size: 42px;
  margin-bottom: 25px;
}

/* Search */

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-box input {
  flex: 1;
  padding: 15px;
  border: none;
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

.search-box button {
  padding: 15px 20px;
  border: none;
  border-radius: 10px;
  background-color: #222;
  color: white;
  cursor: pointer;
  font-size: 15px;
}

.search-box button:hover {
  background-color: #444;
}

/* Error */

.error {
  background-color: #ffdddd;
  color: #d00000;
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
}

/* Weather Card */

.weather-card {
  background: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.weather-card h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

/* Temperature */

.temperature {
  font-size: 70px;
  font-weight: bold;
  color: #222;
  margin-bottom: 10px;
}

/* Weather */

.weather-condition h3 {
  font-size: 30px;
  margin-bottom: 5px;
}

.weather-condition p {
  color: #666;
  font-size: 18px;
  text-transform: capitalize;
}

/* Sunrise / Sunset */

.sun-times {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 30px;
}

.sun-box {
  flex: 1;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 15px;
}

.sun-box span {
  font-size: 35px;
}

.sun-box h4 {
  margin: 10px 0 5px;
  font-size: 18px;
}

.sun-box p {
  font-size: 17px;
  font-weight: bold;
}

/* Mobile */

@media (max-width: 500px) {
  .search-box {
    flex-direction: column;
  }

  .search-box button {
    width: 100%;
  }

  .weather-container h1 {
    font-size: 32px;
  }

  .temperature {
    font-size: 55px;
  }

  .sun-times {
    flex-direction: column;
  }
}